p {
  font-family: skia;
}

.header-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: #192231;
}
.nav-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 5vh;
  padding: 2rem;
}

#logo {
  /* position: absolute; */
  width: 15vw;
  height: 10vh;
  margin: 1rem;
}

.header-text {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
}

.right-side {
  position: relative;
  height: 100vh;
  width: 40vw;
  /* background-image: url("../images/green-window-BACKGROUND.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.right-window {
  display: flex;
  justify-content: space-around;
}

#window {
  position: relative;
  width: 20rem;
}

.right-side-buttons {
  position: relative;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  /* margin-top: 15rem; */
  color: #ffffff;
}

.button {
  margin: 1.5rem;
  border: 1px solid #565b46;
  outline: none;
  background-color: #e0d6cc;
  border-radius: 5px;
  padding: 1px 3px 1px 3px;
}

.button a {
  text-decoration: none;
  outline: none;
  color: #565b46;
  font-size: 1.5rem;
  font-family: skia;
}
.button a:hover {
  color: #192231;
}

.nav-link {
  position: relative;
  font-size: 1.5rem;
  font-family: skia;
  color: #e0d6cc;
  text-align: end;
}

.nav-link:hover {
  color: #985e6d;
}

.navbar-light .navbar-toggler {
  color: #e0d6cc;
  outline: none;
}
.navbar-toggler-icon {
  color: #e0d6cc;
  outline: none;
}
